/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/


@font-face{
    font-family:'FontAwesome';
    font-weight:normal;
    font-style:normal;
    src:url('http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.3.0');
    src:url('http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
    font-family: "FontAwesome", arial, verdana, sans-serif;
    font-weight:normal;
}

thead th,
tbody th{
    font-family: "FontAwesome", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
    font-family: "FontAwesome", arial, verdana, sans-serif;
}

.menu{
    font-family: "FontAwesome", arial, verdana, sans-serif;
}

blockquote{
    font-family: "FontAwesome", arial, verdana, sans-serif;
}


/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
    margin:0;
    padding-top: 70px;
    color:#000;
    font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
    font-size: small;
    text-shadow: 0 0 1px transparent; /* google font pixelation fix */
    font-family: "FontAwesome", arial, verdana, sans-serif;
}
