/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
    font-family: "Arimo", arial, verdana, sans-serif;
    font-weight:normal;
}

thead th,
tbody th{
    font-family: "Arimo", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
    font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
    font-family: "Arimo", arial, verdana, sans-serif;
}

blockquote{
    font-family: "Arimo", arial, verdana, sans-serif;
}


/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
    margin:0;
    padding-top: 70px;
    color:#000;
    font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
    font-size: small;
    text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}
